* {
  box-sizing: border-box;
}

/* Sidebar */
.sidebar {
  background-color: #001f4d;
  position: fixed;
  top: 80px;
  left: 0px;
  color: white;
  width: 200px;
  padding-top: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.3s ease;
  height: calc(100vh - 80px);
  overflow-y: auto;
  z-index: 1000;
  
}
.sidebar.hidden {  
  transform: translateX(-100%);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  display: block;
  transition: background-color 0.3s ease;
  font-weight: 500;
  border-left: 4px solid transparent;
}

.sidebar a:hover {
  background-color: #003d80;
  border-left: 4px solid #007bff;
}

#sidebar-list{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001f4d;
    text-align: left;
}
    
/*
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
    */
