<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallen in Hünfeld</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <div th:replace="fragments/cssInjection :: cssInjection"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
  <div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="sportanlagen">
    <figure>
        <figcaption>Bundespolizei</figcaption>
        <div class="img-btn">
            <img src="img/Bundespolizei.png" alt="Hallenbad">
            <!-- Dynamically create the link with ID for 'Hallenbad' -->
            <a href="/subsite/1"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Justitzvollzugsanstalt</figcaption>
        <div class="img-btn">
            <img src="img/jvz.jpg" alt="Rhönkampfbahn">
            <!-- Dynamically create the link with ID for 'Rhönkampfbahn' -->
            <a href="/subsite/2"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Sportcenter Grossenbach</figcaption>
        <div class="img-btn">
            <img src="img/grossenbach.jpg" alt="Lauftreff">
            <!-- Dynamically create the link with ID for 'Lauftreff' -->
            <a href="/subsite/3"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Grundschule Mackenzell</figcaption>
        <div class="img-btn">
            <img src="img/mackenzell.jpg" alt="Bundespolizei">
            <!-- Dynamically create the link with ID for 'Bundespolizei' -->
            <a href="/subsite/4"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Grundschule Michelsrombach</figcaption>
        <div class="img-btn">
            <img src="img/michelsrombach.jpg" alt="Johann-Adam-Förster-Schule">
            <!-- Dynamically create the link with ID for 'Johann-Adam-Förster' -->
            <a href="/subsite/5"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>JAF-Schule</figcaption>
        <div class="img-btn">
            <img src="img/JAF-Schule.jpg" alt="Kreissporthalle 1">
            <!-- Dynamically create the link with ID for 'Kreissporthalle 1+2' -->
            <a href="/subsite/6"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>PGS-Schule</figcaption>
        <div class="img-btn">
            <img src="img/PGS-Schule.jpg" alt="Kreissporthalle 3">
            <!-- Dynamically create the link with ID for 'Kreissporthalle 3' -->
            <a href="/subsite/7"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 2</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-1.jpg" alt="Kreissporthalle 4">
            <!-- Dynamically create the link with ID for 'Kreissporthalle 4' -->
            <a href="/subsite/8"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 1</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-1.jpg" alt="Paul-Gerhardt-Schule">
            <!-- Dynamically create the link with ID for 'Paul-Gerhardt-Schule' -->
            <a href="/subsite/9"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 3</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-3.jpg" alt="Paul-Gerhardt-Schule">
            <!-- Dynamically create the link with ID for 'Paul-Gerhardt-Schule' -->
            <a href="/subsite/10"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 3B</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-3.jpg" alt="Paul-Gerhardt-Schule">
            <!-- Dynamically create the link with ID for 'Paul-Gerhardt-Schule' -->
            <a href="/subsite/11"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 4</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-4.jpg" alt="Paul-Gerhardt-Schule">
            <!-- Dynamically create the link with ID for 'Paul-Gerhardt-Schule' -->
            <a href="/subsite/12"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
</div>
  </div>
  <footer>
    <div class="footer">
        <p>Impressung:</p>
        <p>Mustermann GmbH</p>
        <p>Beispielstraße 123</p>
        <p>12345 Musterstadt</p>
        <p>Deutschland</p>
        <p>Telefon: 01234 567890</p>
        <p>Email: info@mustermann.de</p>
    </div>
</footer>
</body>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/index.js"></script>
</html>
