<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallen in Hünfeld</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<header>
  <div class="left-container">
    <button id="sidebar-button">☰</button>
    <a href="/home">
      <img src="img/logo.png" alt="logo" id="logo">
    </a>
  </div>

  <div class="search-container">
    <input type="text" id="search-input" placeholder="Suchen...">
    <button id="search-button">Suchen</button>
  </div>

  <div class="header-button-container">
    <form action ="/logout" method="post">
    <button type="submit" class="header-button">Logout</button>
    </form>
  </div>

</header>

  <div class="container">
    <nav class="sidebar hidden" id="sidebar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="">Termine einpflegen</a></li>
        <li><a href="#">Blocktermine erstellen</a></li>
        <li><a href="/users">Benutzer verwalten</a></li>
        <!-- Add more nav items -->
      </ul>
    </nav>
    <div class="sportanlagen">
    <figure>
        <figcaption>Hallenbad</figcaption>
        <div class="img-btn">
            <img src="img/Hallenbad.jpg" alt="Hallenbad">
            <!-- Dynamically create the link with ID for 'Hallenbad' -->
            <a href="/subsite/1"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Rhönkampfbahn</figcaption>
        <div class="img-btn">
            <img src="img/Rhoenkampfbahn.jpg" alt="Rhönkampfbahn">
            <!-- Dynamically create the link with ID for 'Rhönkampfbahn' -->
            <a href="/subsite/2"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Lauftreff</figcaption>
        <div class="img-btn">
            <img src="img/Lauftreff.jpg" alt="Lauftreff">
            <!-- Dynamically create the link with ID for 'Lauftreff' -->
            <a href="/subsite/3"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Bundespolizei</figcaption>
        <div class="img-btn">
            <img src="img/Bundespolizei.png" alt="Bundespolizei">
            <!-- Dynamically create the link with ID for 'Bundespolizei' -->
            <a href="/subsite/4"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Johann-Adam-Förster</figcaption>
        <div class="img-btn">
            <img src="img/JAF-Schule.jpg" alt="Johann-Adam-Förster-Schule">
            <!-- Dynamically create the link with ID for 'Johann-Adam-Förster' -->
            <a href="/subsite/5"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 1+2</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-1.jpg" alt="Kreissporthalle 1">
            <!-- Dynamically create the link with ID for 'Kreissporthalle 1+2' -->
            <a href="/subsite/6"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 3</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-3.jpg" alt="Kreissporthalle 3">
            <!-- Dynamically create the link with ID for 'Kreissporthalle 3' -->
            <a href="/subsite/7"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Kreissporthalle 4</figcaption>
        <div class="img-btn">
            <img src="img/Kreissporthalle-4.jpg" alt="Kreissporthalle 4">
            <!-- Dynamically create the link with ID for 'Kreissporthalle 4' -->
            <a href="/subsite/8"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
    <figure>
        <figcaption>Paul-Gerhardt-Schule</figcaption>
        <div class="img-btn">
            <img src="img/PGS-Schule.jpg" alt="Paul-Gerhardt-Schule">
            <!-- Dynamically create the link with ID for 'Paul-Gerhardt-Schule' -->
            <a href="/subsite/9"><button class="btn">Jetzt mieten</button></a>
        </div>
    </figure>
</div>
  </div>
</body>
<footer>
    <div class="footer">
        <p>Impressung:</p>
        <p>Mustermann GmbH</p>
        <p>Beispielstraße 123</p>
        <p>12345 Musterstadt</p>
        <p>Deutschland</p>
        <p>Telefon: 01234 567890</p>
        <p>Email: info@mustermann.de</p>
    </div>
</footer>
<script src="/js/index.js"></script>
</html>
