<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />
    <div th:replace="fragments/cssInjection :: cssInjection"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!-- Login Form -->
<div class="login">
  <div class="container">
    <div class="card">
      <h2>Login</h2>
      <div th:if="${param.error}" style="color:red;">
        Falscher Benutzername oder Passwort.
      </div>
      <div th:if="${param.logout}" style="color:green;">
          Du hast dich erfolgreich ausgeloggt.
      </div>

      <form th:action="@{/login}" method="post" id="login-form">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
      </form>
      <!-- <a href="/signup">Noch kein Konto? Jetzt registrieren</a> -->
    </div>
  </div>
</div>
</body>
</html>
