<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallenbad - Hünfeld</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/de@6.1.8/index.global.min.js"></script>

</head>
<header>
<a href="/index.html">
        <img src="http://localhost:8080/img/logo.png" alt="logo" id="logo">
    </a>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Suchen...">
        <button id="search-button">Suchen</button>
    </div>
    <div class="login-button">
        <a href="login.html"><button id="login-button">LOGIN</button></a>
        </button>
    </div>
</header>
<body class="subsite">
    <div id="header"></div>  <!-- Placeholder for header -->
    
    <div class="content">
        <h2 id="name"> </h2>

        <!-- Bild des Hallenbads -->
        <div class="image-container">
            <img src="" alt="Hallenbad" class="facility-image" id="dynamicImage">
        </div>

        <!-- Details zum Hallenbad -->
        <section class="facility-info">
            <h3>Informationen</h3>
            <p><strong>Adresse:</strong> <span id="hallenAdresse">Lade...</span></p>
            <p><strong>Ort:</strong> <span id="ort">Lade...</span></p>
            <p><strong></strong> PLZ:<span id="plz">Lade...</span></p>
            <p><strong>Spielfeldgroesse:</strong> <span id="sfg">Lade...</span></p>

        </section>
        <div id="calendar"></div>

        <!-- Mieten-Button -->
        <section class="rent-section">
            <a href="/mieten">
                <button class="btn" id="mieten-button">Jetzt mieten</button>
                
            </a>
            <a href="/delete.html">
                <button id="deleteButton">Termin löschen</button>
            </a>
        </section>
    </div>

    <div id="footer"></div> <!-- Placeholder for footer -->

    <script src="/js/subsite.js">
    </script>
</body>
</html>
