<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallenbad - Hünfeld</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<header>
    <h1>Hallen mieten in Hünfeld</h1>
    <canvas id="titleCanvas"></canvas>
</header>
<body class="subsite">
    <div id="header"></div>  <!-- Placeholder for header -->
    
    <div class="content">
        <h2 id="name"> </h2>

        <!-- Bild des Hallenbads -->
        <div class="image-container">
            <img src="" alt="Hallenbad" class="facility-image" id="dynamicImage">
        </div>

        <!-- Details zum Hallenbad -->
        <section class="facility-info">
            <h3>Informationen</h3>
            <p><strong>Adresse:</strong> <span id="hallenAdresse">Lade...</span></p>
            <p><strong>Ort:</strong> <span id="ort">Lade...</span></p>
            <p><strong></strong> PLZ:<span id="plz">Lade...</span></p>
            <p><strong>Spielfeldgroesse:</strong> <span id="sfg">Lade...</span></p>

        </section>
        <table>
            <thead>
            <tr>
                <th>Zeit</th>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
                <th>Samstag</th>
                <th>Sonntag</th>
            </tr>
            </thead>
            
        </table>

        <!-- Mieten-Button -->
        <section class="rent-section">
            <a href="mailto:max.mustermann@example.com">
                <button class="btn">Jetzt mieten</button>
            </a>
        </section>
    </div>

    <div id="footer"></div> <!-- Placeholder for footer -->

    <script src="/js/subsite.js">
    </script>
</body>
</html>
