<!DOCTYPE html>
<html lang="de"xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallenbad - Hünfeld</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/css/subsite.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/de@6.1.8/index.global.min.js"></script>
    <div th:replace="fragments/cssInjection :: cssInjection"></div>

</head>

<body class="subsite">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="left-panel">
      <img class="place-image" id="dynamicImage" src="" alt="Rental Place">
      <div class="info-card">
        <h2 id="name">Lade...</h2>
        <p><strong>Adresse: </strong><span id="hallenAdresse">Lade..</span></p>
        <p><strong>Ort: </strong><spand id="ort">Lade..</spand></p>
        <p><strong>PLZ: </strong><spand id="plz">Lade..</spand></p>
        <p><strong>Größe: </strong><spand id="sfg">Lade..</spand></p>
      </div>
    </div>

    <!-- Right Side -->
    <div class="right-panel">
      <div id="calendar"></div>
      <div class="button-row">
        <a href="/admin/mieten">
            <button sec:authorize ="hasRole('ADMIN')" class="btn btn-rent" id="terminPlan-btn">Belegungspland ändern</button>
        </a>
        <button sec:authorize="hasRole('USER')" class="btn btn-request">Termin anfragen</button>
      </div>
    </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
<script src="/js/subsite.js"></script>
<script src="/js/calendar.js"></script>
</html>
