<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallen in Hünfeld</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/css/users.css" rel="stylesheet">
    <div th:replace="fragments/cssInjection :: cssInjection"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
  <div class="container">
  <div th:replace="fragments/sidebar :: sidebar"></div>
    <main class="main-content">
  <h2>Termine Verwalten</h2>
  <div class="user-table-wrapper">
    <table id="termin-table" class="user-table">
      <thead>
        <tr>
          <th>Termin Id(s)</th>  
          <th>FeldId(s)</th>
          <th>Anfang</th>
          <th>Ende</th>
          <th>anlass</th>
          <th>Anzahl Felder</th>
          <th>Status</th>
          <th>MieterId</th>
          <th>Bearbeiten</th>
          <th>Löschen</th>
        </tr>
      </thead>
      <tbody id="termin-table-body">

      </tbody>
    </table>
  </div>
</main>
  </div>
</body>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/termine.js"></script>
</html>