<div th:fragment="footer">
    <footer>
        <div class="footer">
            <p>Impressung:</p>
            <p>Mustermann GmbH</p>
            <p>Beispielstraße 123</p>
            <p>12345 Musterstadt</p>
            <p>Deutschland</p>
            <p>Telefon: 01234 567890</p>
            <p>Email: info@mustermann.de</p>
        </div>
    </footer>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
    <script th:src="@{/js/sidebar.js}" defer></script>
</div>
