<nav class="sidebar hidden" id="sidebar" th:fragment="sidebar">
    <ul id="sidebar-list">
      <li><a href="/home">Home</a></li>

      <li sec:authorize="hasRole('ADMIN')">
        <a href="/admin/termine">Termine verwalten</a>
      </li>
      <li sec:authorize="hasRole('ADMIN')">
        <a href="/admin/users">Benutzer verwalten</a>
      </li>
      <li sec:authorize="hasAnyRole('ADMIN', 'USER')">
        <a href="/verein">Meine Termine</a>
      </li>
      <a>
        <li sec:authorize="hasRole('ADMIN')" id="exportLi">Daten Bank Export</li>
      </a>
      
    </ul>
</nav>